/* typography */
/* H1 Le Monde Courrier */

h1 {
    font-family: "lemonde-courrier", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
}

/* H2 Le Monde Courrier*/
.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}
h2 {
    font-family: "lemonde-courrier", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

/* H3 Le Monde Courrier*/
h3 {
    font-family: "lemonde-courrier", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
}

/* H4 subheadings Le Monde Courrier */
h4 {
    font-family: "lemonde-courrier", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
}

/* links/buttons */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: medium;
}
h5 {
    font-family: 'poppins-medium', sans-serif;
    font-size: 18px;
}

/* body copy */
.poppins-regular { 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: 'poppins-extrabold', sans-serif;
    font-size: 18px;
}

/* page setup */
html {
    margin: auto;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 200px;
    background-color: #FFFDFA;
}

/* body */

/* navbar */
.nav-bar {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.nav-bar-main{
    width: 100%;
    background: #FFFDFA;
    max-height: 150px;
    float: left;
}

/* logo in nav */
.nav-bar img {
    max-width: 100%;
    max-height: 60px;
    display: inline-block;
}

nav {
    position: relative;
    margin: 0;
    padding: 0;
    width: 70%;
    bottom: 0px;
    display: inline-block;
    vertical-align: bottom;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    display: inline;
    padding: 0 2%;
}


ul li a {
    color: #26221D;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

ul li a:hover {
    color: #660463;
    border-bottom: 3px solid #660463;
}


/* hero image */
.hero-image img{
    width: 100%;
    height: auto;
    margin: 0;
}

/* intro */
.intro {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #340132;
}

.intro h2{
    padding-left: 200px;
    margin-right: 200px;
    color: #FFFDFA;
}


/* inspiration */

.inspiration-info {
    display: flex;
}

#img-grandparents img{
    max-width: 650px;
    max-height: 100%;
}
.inspiration-para {
    max-width: 600px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* problem statement */
.problem-statement {
    background-color: #340132;
    padding: 100px;
    color: #FFFDFA;
}

.problem-statement h5 {
    padding-bottom: 50px;
    border-bottom: 3px solid #660463;
}


/* research */
.research {
    margin-top: 100px;
}

.research h1{
    text-align: center;
}

.research h2{
    text-align: center;
}

.research-benefits {
    display: flex;
}

.research-benefits img {
    max-width: 100%;
    height: 600px;
}

.research-data {
    margin-right: 50px;
    text-align: left;
}

/*external connections */
.external-connections {
    margin-top: 100px;
}

.external-connections-logos {
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    height: 200px;
}

/* audience */
.audience {
    margin-top: 100px;
}

.audience-img img{
    max-width: 100%;
    max-height: 130px;
    display: inline-flex;
}

.audience-target {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* beginning progress */
.beginning-progress {
    margin-top: 100px;
}