/* typography */
/* H1 */
.poppins-extrabold {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}
h1 {
    font-family: 'poppins-extrabold', sans-serif;
    font-size: 34px
}

/* H2 */
.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}
h2 {
    font-family: 'poppins-bold', sans-serif;
    font-size: 28px;
}

/* H3 */
.poppins-semibold {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}
h3 {
    font-family: 'poppins-semibold', sans-serif;
    font-size: 22px;
}

/* Subheadings */
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
h4 {
    font-family: 'poppins-regular-italic', sans-serif;
    font-size: 20px;
}

/* links/buttons */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h5 {
    font-family: 'poppins-medium', sans-serif;
    font-size: 18px;
}

/* body copy */
.poppins-regular { 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: 'poppins-extrabold', sans-serif;
    font-size: 18px;
}

/* page setup */
html {
    margin: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 200px
}

/* intro */
.intro {
    text-align: center;
    padding-top: 200px;
    background-color: gray;
}

.intro h2{
    margin-bottom: 50px;
}


.intro h4{
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: white;
}

/* inspiration */
.inspiration {
    display: flex;
}

.inspiration-info {
    
}


#img-grandparents img{
    flex-grow: 4;
    max-width: 100%;
    max-height: 500px;
    border-radius: 50px;
}

/* research */
.research-benefits {
    display: flex;
    justify-content: center;
    gap: 50px;
}