/* typography */
/* H1 Le Monde Courrier */

h1 {
    font-family: "lemonde-courrier", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    color: #26221D;
}

/* H2 Le Monde Courrier*/
.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}
h2 {
    font-family: "lemonde-courrier", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #26221D;
}

/* H3 Le Monde Courrier*/
h3 {
    font-family: "lemonde-courrier", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: #474138;
}

/* H4 subheadings Le Monde Courrier */
h4 {
    font-family: "lemonde-courrier", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    color: #474138;
}

/* links/buttons */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: medium;
}
h5 {
    font-family: 'poppins-medium', sans-serif;
    font-size: 18px;
    color: #6B6256;
}

/* body copy */
.poppins-regular { 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: 'poppins-extrabold', sans-serif;
    font-size: 18px;
    color: #6B6256;
}

/* page setup */
html {
    margin: auto;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 200px;
    background-color: #FFFDFA;
}

/* body */

/* navbar */


/* logo in nav */
.nav-bar img {
    max-width: 100%;
    max-height: 60px;
    margin-top: 30px;
    display: inline-block;
}

nav {
    position: relative;
    margin-top: 60px;
    vertical-align: bottom;
    display: inline-block;
    float: right;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    display: inline;
    margin-left: 30px;

}


ul li a {
    color: #26221D;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

ul li a:hover {
    color: #660463;
    border-bottom: 3px solid #660463;
}


/* hero image */
.hero-image img{
    width: 100%;
    height: auto;
    margin: 0;
}

/* intro */
.intro {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #340132;
}

.intro h2{
    padding-left: 200px;
    margin-right: 200px;
    color: #FFFDFA;
}


/* inspiration */

.inspiration-info {
    display: inline-flex;
}

#img-grandparents img{
    max-width: 650px;
    max-height: 100%;
}
.inspiration-para {
    max-width: 600px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.inspiration-para h1 {
    color: #660463;
}

/* problem statement */
.problem-statement {
    background-color: #340132;
    padding: 100px;
    color: #FFFDFA;
}

.problem-statement h5 {
    padding-bottom: 50px;
    border-bottom: 3px solid #660463;
    color: #FFFDFA;
}

.problem-statement h1, h4{
    color: #FFFDFA;
}

/* research */
.research {
    margin-top: 100px;
}

.research h1{
    text-align: center;
    color: #660463;
}

.research h2{
    text-align: center;
}

.research-benefits {
    display: flex;
    margin-top: 50px;
}

.research-benefits img {
    max-width: 100%;
    height: 600px; 
}

.research-data {
    margin-right: 50px;
    text-align: left;
    margin-bottom: 100px;
}

.research-questions {
    position: relative;
    background-color: #FDECD8;
    padding: 100px;
}

/* branding & process */
.brand {
   margin-bottom: 100px;
}

.brand-intro {
    padding: 100px;
    background-color: #340132;
}

.brand-intro h1 {
    color: #FFFDFA;
    padding-bottom: 50px;
    border-bottom: 3px solid #660463;
}

.brand-intro h4 {
    color: #FFFDFA;

}

/* brand name */
.brand-name {
    display: flex;
}

.brand-name-info {
    margin: 50px 0px 50px 50px;
}

.brand-name img {
    max-width: 100%;
    max-height: 400px;
}

/* brand logo */
.brand-logo {
    margin-top: 50px;
}

.brand-logo-sketches {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4px;
    justify-content: center;
}

.brand-logo-sketches-img img {
    margin-top: 8px;
    width: 500px;
}


/* brand patterns */
.brand-patterns {
    margin-top: 50px;
}

.brand-pattern-sketches {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4px;
    justify-content: center;
}

.brand-pattern-sketches-img img {
    margin-top: 8px;
    width: 500px;
}

/* comm event */
.comm-event-intro {
    background-color: #340132;
    padding: 100px;
    color: #FFFDFA;
}

.comm-event-intro h1 {
    color: #FFFDFA;
    padding-bottom: 50px;
    border-bottom: 3px solid #660463;
}

/* meet & greet */
.comm-event-meet {
    margin-top: 50px;
}

.comm-event-meet-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4px;
    justify-content: center;
}

.comm-event-meet-img img {
    margin-top: 8px;
    width: 500px;
}

/* activity fair */
.comm-event-fair {
    margin-top: 50px;
    margin-bottom: 100px;
}

.comm-event-fair-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4px;
    justify-content: center;
}

.comm-event-fair-img img {
    margin-top: 8px;
    width: 500px;
}

/* web design */
.web-design-intro {
    background-color: #340132;
    padding: 100px;
    color: #FFFDFA;
}

.web-design-intro h1 {
    color: #FFFDFA;
    padding-bottom: 50px;
    border-bottom: 3px solid #660463;
}

/*outreach connections */
.outreach {
    margin-top: 100px;
    display: flex;
}


.outreach img {
    max-width: 100%;
    height: 200px;
    margin-right: 50px;
}



/* user journey */
.web-design-users {
    margin-top: 50px;
    display: flex;
}

.web-design-users-info {
    margin-right: 50px;
}

.iframe-user-journey iframe{
    width: 600px;
    height: 400px;
}

/* wireframes */
.wireframes {
    margin-top: 50px;
}

.wireframes img{
    max-width: 100%;
}

/* website prototype */
.website-prototype {
    margin-top: 50px;
}

.website-prototype iframe {
   width: 100%;
   height: 700px;

}

.website-prototype h1{
    color: #660463;
    text-align: center;
}


/* golden joy website */
.gj-website-title {
    background-color: #340132;
    padding: 100px;
}

.gj-website-title h1{
    color: #FFFDFA;
    text-align: center;
}

.gj-website iframe {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
}

/* bibliography */
.bibliography-title {
    background-color: #340132;
    padding: 100px;
    color: #FFFDFA;
}

.bibliography-title h1 {
    color: #FFFDFA;
    text-align: center;
}

.bibliography-list {
    margin: 100px;
}

.bibliography-list p {
    padding-bottom: 30px;
}